.bg-navbar{
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.navbar{
  font-size:100px;
}
.text_bold{

  font-weight:bold;
}
.mt-100{
  margin-top:100px
}
